# Python virtual environments
/app/backend/venv
/app/backend/.venv

# Python cache files
__pycache__/
*.pyc

# Alembic logs
/app/backend/alembic/*.log

# Environment files
.env

# Frontend cache/build artifacts
/app/frontend/.vite
/app/frontend/dist

# Local SQLite DB for dev only
# Remove later if no longer needed
/app/backend/tinytasks.db

# Editor settings
.vscode/